body {
  color: black;
  background: #ffe6cc;
  font-size: 14px;
  font-family: arial;
}

h1 {
  font-size: 100px;
  font-family: Roboto-Mono, monospace;
  color: black;
  border-radius: 50%;
}

#banner {
  text-align: center;
  background-color: white;
  background-image: linear-gradient(90deg, rgba(200, 0, 0, .5) 50%, transparent 50%), linear-gradient(rgba(200, 0, 0, .5) 50%, transparent 50%);
  background-size: 50px 50px;
}

.btn {
  font-size: 20px
}

.card-body {
  background: lighgrey;
}